@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:rgb(32, 32, 32);

}
/*================================ header ===================================*/

li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    block-size: 150px;
}


.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: cadetblue;
}

/*================================MAIN HOME===================================*/



/*================================IMAGE SLIDER===================================*/

.container{
    display: flex;
}

.home-text{
    flex: 0.6;
    margin: auto -200px;
}

.header-text{
background-color: transparent;
}

.header-text p{
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}


.home-text p{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.slider-wrapper{
    margin-right: 20px;
    position:relative;
    width: 48rem;
    margin: 5rem 15rem;
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 1);
    border-radius: 0.5rem;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    background-color: rgba(255,255,255,0);
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}

/*================================MAP PAGE===================================*/

.map-container img{
    margin: auto 30rem;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 1);
    width: 50%;
    border: 0px;
    border-radius: 1rem;
}


/*================================ button list ===================================*/
.button-list {
    width: 80%;
    margin: 0 auto;
  }
  
  .button {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 12px;
    padding: 10px;
    color: #ffffff;
    border-radius: 2rem;
  }
  

  .button img{
    border-radius: 2rem;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    object-fit: cover;
  }
  
  .button-content {
    width: calc(100% - 90px);
  }
  
  .button h3 {
    text-align: center;
    color: black;
    margin: auto auto;
    font-size: 18px;
    background-color: white;
  }
  
  .button p {
    text-align: center;
    color: black;
    margin: auto auto;
    font-size: 14px;
    background-color: white;
  }

  /*================================ MOVIE PAGE ===================================*/

.title-text-movies{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: white;
    margin: auto auto;
    font-size: 35px;
    padding-bottom: 20px;
}

.button-movie {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 12px;
    padding: 10px;
    color: #ffffff;
    border-radius: 2rem;
  }
  

.button-movie img{
  border-radius: 2rem;
  width: 400px;
  height: 400px;
  margin-right: 10px;
  object-fit: cover;
}

.button-content {
  width: calc(100% - 90px);
}

.button-movie h3 {
  color: black;
  margin: auto auto;
  font-size: 18px;
  background-color: white;
}

.button-movie p {
  color: black;
  margin: auto auto;
  font-size: 14px;
  background-color: white;
}
.home-text-movie p{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.home-text-movie{
    flex: 0.6;
    margin: 100px -200px;
}

  /*================================ contact form ===================================*/

.contact-form {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 2rem;
  }
  
  .form-group {
    margin-bottom: 20px;
    background-color: #ffffff;
  }
  
  label {
    background-color: #ffffff;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    background-color: #ffffff;
    width: 100%;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 4px;

  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    border: none;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }